<%# coding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
<title>Yahoo! オークション ライブ別の落札件数</title>
<meta charset="UTF-8">
<meta name="description" content="" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="/js/prettify.js"></script>                                   <!-- PRETTIFY -->
<script type="text/javascript" src="/js/kickstart.js"></script>                                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/style.css" media="all" />                          <!-- CUSTOM STYLES -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<div id="wrap" class="clearfix">
<!-- ===================================== END HEADER ===================================== -->

<ul class="menu">
<li><a href="/">ライブ別の落札状況</a></li>
<li><a href="/reseller">落札金額上位アカウント</a></li>
<li><a href="/stats">アカウント数の比率</a></li>
<li class="current"><a href="/about">このサイトについて</a></li>
</ul>

<div class="col_12">
<h5>このサイトについて</h5>
<br />
<ul class="alt">
<li><strong>このサイトの情報はチケットの転売を推奨するものではありません。</strong></li>
<li>Yahoo! オークションのキーワード検索より得られたチケットの落札状況を2012-06-04から集計したものです。</li>
<li>反映までに1〜2時間程度のタイムラグがありますが、データは定期的に更新されていきます。</li>
<li>但し、以降に記載した理由により、このサイトに掲載されたデータは参考値程度のものとお考えください。</li>
<li>キーワード検索を利用していることから対象オークションの誤検出が発生する可能性があります。</li>
<li>数量2以上のオークションは落札金額 * 数量で計算しています。</li>
<li>オークションによっては入札の取り消しや落札者の削除などの操作を行っているようで、正確な落札金額とはなっていない可能性があります。</li>
</ul>
</div>

<!-- ===================================== START FOOTER ===================================== -->
</div><!-- END WRAP -->
</body>
</html>
